name: Hourly Price Mail
permissions:
  contents: write

on:
  schedule:
    - cron: "0 */6 * * *"   # 6 saatte bir
  workflow_dispatch:

jobs:
  hourly-mail:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 lxml

      - name: Run tracker with mail
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
        run: |
          python price_tracker.py --send-mail
